@font-face {
  font-family: 'Source Sans Pro';
  src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro';
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.header-container {
  display: flex;
  padding-top: 45px;
  padding-left: 152px;
}

.logo-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  margin-right: 165px;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 28px;
}

.nav-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.active {
  border-bottom: 2px solid #ffffff;
}

.burger {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 22px;
  cursor: pointer;
  user-select: none;
  z-index: 2;
}

.line {
  width: 22px;
  height: 3px;
  background: #ffffff;
  margin: 2px 0;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.burger:hover .line {
  cursor: pointer;
  background-color: blue;
}

.burger.open .line1 {
  transform: rotate(-45deg) translate(-6px, 12px);
}

.burger.open .line2 {
  opacity: 0;
}

.burger.open .line3 {
  transform: rotate(45deg) translate(-6px, -12px);
}

@media (max-width: 768px) {
  .container {
    max-width: 480px;
    overflow: hidden;
  }

  .header-container {
    padding-top: 41px;
    padding-left: 27px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
  }

  .logo-title {
    margin-right: 0;
  }

  .nav {
    display: none;
  }

  .burger {
    display: flex;
  }
}
