@font-face {
  font-family: 'Source Sans Pro';
  src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Oswald';
  src: url('../assets/fonts/Oswald/static/Oswald-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Oswald';
  src: url('../assets/fonts/Oswald/static/Oswald-Regular.ttf');
  font-weight: 400;
}

.hero {
  position: relative;
  padding-bottom: 246px;
}

.hero::before {
  content: '';
  width: 100%;
  height: 822px;
  background-image: url(../assets/Desktop_Backgrounds_1920x1200_6.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -65px;
  right: 0px;
  z-index: -1;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-top: 209px;
}
.hero-title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
  margin-top: 14px;
}

.hero-subtitle {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 32px;
}

.main {
  padding-bottom: 98px;
  background-color: #eeeeee;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #464547;
  margin-top: 66px;
}

.main-title-p2 {
  margin-bottom: 32px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #464547;
}

.main-subtitle {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #666666;
}

.main-texts {
  display: flex;
  width: 907px;
  height: 172px;
  margin-top: 37px;
  gap: 76px;
}

.main-text {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: start;
  color: #666666;
  max-width: 416px;
}

.read-more-btn {
  width: 115px;
  height: 36px;
  background: #55c2d8;
  border-radius: 18px;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #ffffff;
  border: none;
  margin-top: 47px;
}

.learn-more {
  background-image: url(../assets/bg-second.png);
  background-repeat: no-repeat;
  background-position: center -14px;
  background-size: cover;
  height: 637px;
  position: relative;
}

.learn-more-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.learn-more::before {
  background-color: rgba(140, 79, 42, 0.3);
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.learn-more-title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
  margin-top: 80px;
  letter-spacing: -1px;
  width: 432px;
  margin-left: 6px;
}

.play-btn {
  width: 145px;
  height: 145px;
  background: #39c2d7;
  border-radius: 80px;
  font-size: 55px;
  color: #ffffff;
  border: none;
  margin-top: 44px;
  margin-left: 10px;
}

.learn-more-subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  width: 351px;
  margin-top: 55px;
  margin-left: -8px;
}

@media (max-width: 768px) {
  .hero {
    padding-bottom: 235px;
  }

  .hero::before {
    background-position: right -330px center;
    height: 816px;
    top: -75px;
    background-size: auto;
  }

  .logo {
    margin-top: 199px;
  }

  .hero-title {
    margin-top: 21px;
  }

  .main {
    padding-bottom: 117px;
  }

  .main-title {
    letter-spacing: -1px;
    margin-top: 65px;
  }

  .main-title-p2 {
    width: 333px;
  }

  .main-subtitle {
    margin-top: 15px;
    margin-left: 25px;
  }

  .main-texts {
    flex-direction: column;
    padding-left: 10px;
    width: 445px;
    height: 183px;
    margin-top: 44px;
    gap: 31px;
  }

  .main-text {
    max-width: 434px;
  }

  .read-more-btn {
    margin-top: 178px;
  }

  .learn-more {
    background-position: center 0px;
  }

  .learn-more-title {
    margin-top: 71px;
    margin-left: 26px;
    letter-spacing: -1px;
  }

  .play-btn {
    width: 100px;
    height: 100px;
    margin-top: 80px;
    font-size: 46px;
  }

  .learn-more-subtitle {
    width: 396.32px;
    margin-top: 83px;
  }
}
